version: "3"
services:
  telegraf:
    image: mirror.gcr.io/telegraf:latest
    container_name: telegraf
    restart: always
    ports:
      - 57000:57000
    networks:
      - telemetry
    volumes:
      - ./telegraf:/etc/telegraf:ro
    entrypoint: /entrypoint.sh -config /etc/telegraf/telegraf.conf -config-directory /etc/telegraf/telegraf.d

  zookeeper:
    image: mirror.gcr.io/confluentinc/cp-zookeeper:7.3.2
    container_name: zookeeper
    networks:
      - telemetry
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    image: mirror.gcr.io/confluentinc/cp-kafka:7.3.2
    container_name: broker
    networks:
      - telemetry
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://{{ kafka_external_listener|d("localhost") }}:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

networks:
  telemetry:
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
